<link rel="stylesheet" type="text/css" href="/node_modules/primeicons/primeicons.css" />
<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/nova-light/theme.css" />
<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/primeng.min.css" />
<p>
  modal-index works!
</p>
<p-calendar [(ngModel)]="cita" showButtonBar="true" dateFormat="dd/mm/yy"></p-calendar>




