

<div class="container-fluid mt-4">
    <div class="p-grid">
      <div class="p-col-12">
        <!-- <p-toast [style]="{marginTop: '80px'}"></p-toast> -->
      
        
        
        <p-card header="solicitudes" styleClass="ui-card-shadow">
        
          <p-table #dt [value]="solicitudes" [paginator]="true" [rows]="10" [columns]="cols" selectionMode="multiple"
                   [(selection)]="selectedSolicitudes" [responsive]="true">
                   
  
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                  {{col.header}}
                  <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                              ariaLabelDesc="Activate to sort in descending order"
                              ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                </th>
              </tr>
              <tr>
                <th *ngFor="let col of columns" [ngSwitch]="col.field">
                  <input *ngSwitchCase="'nombre'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" class="form-control" placeholder="Buscar por Nombre">
                  <input *ngSwitchCase="'id'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" class="form-control" placeholder="Buscar por ID">
                  <input *ngSwitchCase="'telefono'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" class="form-control" placeholder="Buscar por Telefono">
                  <input *ngSwitchCase="'correo'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" class="form-control" placeholder="Buscar por correo">
                  
                </th>
              </tr>
            </ng-template>
  
            <ng-template pTemplate="body" let-solicitud>
              <tr [pSelectableRow]="solicitud">
                  <td>{{solicitud.id}}</td>
                <td>{{solicitud.nombre}}</td>
                <td>{{solicitud.telefono}}</td>
                <td>{{solicitud.correo}}</td> 
                <p-calendar [(ngModel)]="cita" showButtonBar="true" dateFormat="dd/mm/yy"></p-calendar>

                <!-- <td> <button type="button" (click)="openModal(solicitud.id)" pButton icon="pi pi-info-circle" label="Agendar cita"></button></td> -->
                <td> <button type="button" (click)="openModal(solicitud.id)" pButton icon="pi pi-info-circle" label="Crear candidato"></button></td>
              </tr> 
            </ng-template>
          </p-table>
        </p-card>
      </div>
    </div>
  </div>
  
 
    