
<div class="container-fluid mt-4">
    <div class="p-grid">
        <div class="p-col-12">             
          <p-card header="Información personal" styleClass="ui-card-shadow">
            
              <span class="ui-float-label">
                  <input id="float-input" type="text" size="30" pInputText> 
                  <label for="float-input">Username</label>
              </span>    
              <p-calendar [(ngModel)]="dateValue" showButtonBar="true"></p-calendar>
              
<p-dropdown [options]="cities1" [(ngModel)]="selectedCity1"></p-dropdown>

          </p-card>
        </div>
    </div>
    
</div>


